<world>
    <window width="1024" height="1024"/>
    <camera>
        <position x="2" y="3" z="3"/>
        <lookAt x="0" y="0" z="0"/>
        <up x="0" y="1" z="0"/>
        <projection fov="60" near="1" far="1000" />
    </camera>
    <group>
        <transform>
            <scale x="0.1" y="0.1" z="0.1" />
        </transform>
        <group name="sun">
            <transform>
                <scale x="0.8" y="0.8" z="0.8" />
                <rotate time="80" x="0" y="1" z="0" />
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="mercury">
            <transform>
                <translate time="20">
                    <point x="0" y="0" z="-14" />
                    <point x="13" y="0" z="0" />
                    <point x="0" y="0" z="14" />
                    <point x="-13" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.05" y="0.05" z="0.05"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="venus">
            <transform>
                <translate time="30">
                    <point x="0" y="0" z="-18" />
                    <point x="17" y="0" z="0" />
                    <point x="0" y="0" z="18" />
                    <point x="-17" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.15" y="0.15" z="0.15"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="earth">
            <transform>
                <translate time="40">
                    <point x="0" y="0" z="-23" />
                    <point x="22" y="0" z="0" />
                    <point x="0" y="0" z="23" />
                    <point x="-22" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.15" y="0.15" z="0.15"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
            <group name="moon">
                <transform>
                    <translate time="10">
                        <point x="0" y="0" z="-9" />
                        <point x="9" y="3" z="0" />
                        <point x="0" y="0" z="9" />
                        <point x="-9" y="-3" z="0" />
                    </translate>
                    <rotate angle="-20" x="-1" y="0" z="-1" />
                    <rotate time="10" x="0" y="1" z="0" />
                    <scale x="0.2" y="0.2" z="0.2"/>
                </transform>
                <models>
                    <model file="globe.obj" />
                </models>
            </group>
        </group>
        <group name="mars">
            <transform>
                <translate time="50">
                    <point x="0" y="0" z="-29" />
                    <point x="28" y="0" z="0" />
                    <point x="0" y="0" z="29" />
                    <point x="-28" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.075" y="0.075" z="0.075"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="jupiter">
            <transform>
                <translate time="60">
                    <point x="0" y="0" z="-40" />
                    <point x="39" y="0" z="0" />
                    <point x="0" y="0" z="40" />
                    <point x="-39" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.35" y="0.35" z="0.35"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="saturn">
            <transform>
                <translate time="70">
                    <point x="0" y="0" z="-46" />
                    <point x="45" y="0" z="0" />
                    <point x="0" y="0" z="46" />
                    <point x="-45" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.32" y="0.32" z="0.32"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="uranus">
            <transform>
                <translate time="80">
                    <point x="0" y="0" z="-54" />
                    <point x="53" y="0" z="0" />
                    <point x="0" y="0" z="54" />
                    <point x="-53" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.25" y="0.25" z="0.25"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="neptune">
            <transform>
                <translate time="90">
                    <point x="0" y="0" z="-60" />
                    <point x="59" y="0" z="0" />
                    <point x="0" y="0" z="60" />
                    <point x="-59" y="0" z="0" />
                </translate>
                <rotate angle="-20" x="-1" y="0" z="-1" />
                <rotate time="10" x="0" y="1" z="0" />
                <scale x="0.24" y="0.24" z="0.24"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="comet-teapot">
            <transform>
                <translate time="90" align="true">
                    <point x="0" y="0" z="-40" />
                    <point x="40" y="50" z="0" />
                    <point x="0" y="0" z="40" />
                    <point x="-40" y="-50" z="0" />
                </translate>
                <scale x="0.5" y="0.5" z="0.5"/>
            </transform>
            <models>
                <model file="teapot.obj" />
            </models>
        </group>
        <group name="comet-rock">
            <transform>
                <translate time="90" align="true">
                    <point x="0" y="50" z="0" />
                    <point x="40" y="0" z="0" />
                    <point x="0" y="-50" z="0" />
                    <point x="-40" y="0" z="0" />
                </translate>
                <scale x="0.03" y="0.03" z="0.03"/>
            </transform>
            <models>
                <model file="rock_by_dommk.obj" />
            </models>
        </group>
    </group>
</world>