<world>
    <window width="1024" height="1024"/>
    <camera>
        <position x="2" y="3" z="3"/>
        <lookAt x="0" y="0" z="0"/>
        <up x="0" y="1" z="0"/>
        <projection fov="60" near="1" far="1000" />
    </camera>
    <group>
        <transform>
            <scale x="0.1" y="0.1" z="0.1" />
        </transform>
        <models>
            <model file="globe.obj" />
        </models>
        <group name="mercury">
            <transform>
                <rotate time="10" x="0" y="-8" z="0" />
                <translate x="0" y="0" z="-8" />
                <scale x="0.05" y="0.05" z="0.05"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="venus">
            <transform>
                <rotate time="30" x="0" y="-8" z="0" />
                <translate x="0" y="0" z="-13" />
                <scale x="0.15" y="0.15" z="0.15"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="earth">
            <transform>
                <rotate time="100" x="0" y="-20" z="0" />
                <translate x="0" y="0" z="-20" />
                <rotate time="5" x="0" y="7" z="7" />
                <scale x="0.15" y="0.15" z="0.15"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
            <group name="moon">
                <transform>
                    <rotate time="5" x="0" y="7" z="7" />
                    <translate x="0" y="7" z="-7" />
                    <rotate time="5" x="0" y="0" z="0" />
                    <scale x="0.2" y="0.2" z="0.2"/>
                </transform>
                <models>
                    <model file="globe.obj" />
                </models>
            </group>
        </group>
        <group name="venus">
            <transform>
                <translate x="0" y="0" z="-25" />
                <scale x="0.075" y="0.075" z="0.075"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="jupiter">
            <transform>
                <translate x="0" y="0" z="-33" />
                <scale x="0.35" y="0.35" z="0.35"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="saturn">
            <transform>
                <translate x="0" y="0" z="-44" />
                <scale x="0.32" y="0.32" z="0.32"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="uranus">
            <transform>
                <translate x="0" y="0" z="-53" />
                <scale x="0.25" y="0.25" z="0.25"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
        <group name="neptune">
            <transform>
                <translate x="0" y="0" z="-61" />
                <scale x="0.24" y="0.24" z="0.24"/>
            </transform>
            <models>
                <model file="globe.obj" />
            </models>
        </group>
    </group>
</world>